name: Build and deploy cli service

on:
  push:
    branches:
      - master
    paths:
      - cli/**

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.5

      - name: Build checker-cli
        run: cd cli && CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o checker-cli

      - name: Upload binary to server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          source: cli/checker-cli
          target: ${{ secrets.DEPLOY_PATH }}

      - name: Verify binary
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            cd ${{ secrets.DEPLOY_PATH }}/cli
            chmod +x checker-cli
            ./checker-cli --help
